<html>
    <head>
        <title>I am Flag or AM I?</title>
    </head>

    <body>
        This is a link <a href="/x9b68tq8o7gbsdf9864y2buygbkcshf/open_me_in_browser.pdf" target="_blank">here</a>
    </body>
</html>